/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.logo {
  width: 200px;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  flex-grow: inherit;
  min-height: 80vh;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.8rem;
}
